@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html, body {
    height: 100%;
    font-size: 0;
}

body {
    margin: 0;
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body::before {
    content: '';
    width: 100%;
    height: 4px;
    position: fixed;
    top: 0;
    left: 0;
    background: #15b154;
}

span {
    color: white;
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 60px;
}

audio {
    margin-top: 20px;
}