@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html, body {
    height: 100%;
    font-size: 0;
}

html {
    background: #131313;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    color: white;
    font-family: 'Gloria Hallelujah', sans-serif;
    transition: opacity 500ms;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::before {
    content: '';
    width: 100%;
    height: 4px;
    position: fixed;
    top: 0;
    left: 0;
    background: #15b154;
}

body.loading {
    opacity: 0;
}

.stations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 12px;
}

.stations > .station {
    padding: 0 8px;
    color: white;
    font-size: 18px;
    transition: 125ms color;
    cursor: pointer;
}

.stations > .station.selected {
    color: #15b154;
    pointer-events: none;
}

.player {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 60px;
    cursor: default;
}

.audio-hidden {
    display: none;
}

.play-pause {
    width: 90px;
    height: 90px;
    margin-top: 42px;
    background: #15b154;
    border-radius: 50%;
    cursor: pointer;
    transition: background 100ms, transform 100ms;
}

.play-pause:hover {
    background: #15924a;
}

.play-pause:active {
    background: #148040;
    transform: scale(0.97);
}

.play-pause > svg {
    fill: white;
}

.play-pause-path {
    transform: translateX(-1px);
}

.track-info {
    text-align: center;
    margin-top: 18px;
}

.track-info > .info {
    font-size: 18px;
}

.track-info > .info:first-child {
    font-size: 26px;
}

.track-info > .info:last-child {
    margin-top: -6px;
}

.download {
    color: #15b154;
    font-size: 12px;
    transition: opacity 150ms;
    cursor: pointer;
}

.download.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.volume {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.volume > .icon {
    margin: 0 8px;
    font-size: 18px;
    color: #666;
    transform: translateY(-1px);
    cursor: pointer;
}

.slider {
    width: 260px;
    height: 8px;
    background: #555;
    border-radius: 15px;
    overflow: hidden;
    outline: none;
    transition: transform 200ms;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider:hover, .slider:active {
    transform: scaleY(1.7);
}

.slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -310px 0 0 300px #15b154;

    -webkit-appearance: none;
    appearance: none;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -100vw 0 0 100vw #15b154;

    -moz-appearance: none;
    appearance: none;
}

/* Selection */
.selectable {
    -webkit-touch-callout: default;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.selectable::selection {
    background: #15b154;
}

.selectable::-moz-selection {
    background: #15b154;
}